.button{
    display: flex;
    height: 70px;
    background-color: #E8E8E8;
    text-align: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    outline: 1px solid #888;
    font-size: 23px;
    color: #696969;
}
 .row:last-child .button:last-child{
     background-color: #D0D0D0;
 }