body{
  background-color: #F5F5F5;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 92%;
  margin: auto;
}

.calculator-wrapper{
  width: 400px;
}

.row{
  width: 100%;
  display: flex;
}
